@model ArtmoWeb.WebApplication.Models.ArtmoModels

<div id="post2">
    <form class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Marker</label>
                        <div>
                            @{
                                string id = "";
                                if (Model.Marker < 10)
                                {
                                    id = "/_Markers/00" + Model.Marker + ".jpg";
                                }
                                else if (Model.Marker < 100)
                                {
                                    id = "/_Markers/0" + Model.Marker + ".jpg";
                                }
                                else
                                {
                                    id = "/_Markers/" + Model.Marker + ".jpg";
                                }
                            }
                            <img src=@id class="img-thumbnail" style="max-width:100px;" alt="Item Disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        <div>
                            @Html.DisplayFor(model => model.Name, null, new { @class = "alert-info" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.GenericTerm)
                        <div>
                            @Html.DisplayFor(model => model.GenericTerm)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Donor)
                        <div>
                            @Html.DisplayFor(model => model.Donor)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateAcquired)
                        <div>
                            @Html.DisplayFor(model => model.DateAcquired)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <div>
                            <img src="@ViewBag.Image" id="img" class="img-thumbnail" alt="No image available" style="max-width:100px;max-height:100px;" />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col">

                    <div class="form-group">
                        @Html.LabelFor(model => model.EngDesc)
                        <div>
                            @Html.DisplayFor(model => model.EngDesc)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IlocoDesc)
                        <div>
                            @Html.DisplayFor(model => model.IlocoDesc)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @Ajax.ActionLink("Edit", "AddEdit", new { id = Model.Id }, new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "post"
                 },  new { @class = "btn btn-dark btn-block ripple", data_target = "#myInput" })
 
    <div class="accordion text-black-50" id="accordionParent">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed text-black" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        REMOVE ITEM
                    </button>
                </h5>
          
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionParent">
                    @Html.ActionLink("Confirm", "DeleteItem", new { id = Model.Id }, new { @class = "btn btn-light ripple", title = "Confirm to Remove" })
                </div>
    </div>
</div>


    @Scripts.Render("~/bundles/jquery")
