@model IEnumerable<ArtmoWeb.WebApplication.Models.ArtmoModels>
<div id="post">
    <h5 class="modal-lg">Marker # @ViewBag.marker</h5>
    <table class="table table-responsive-md">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenericTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAcquired)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenericTerm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Donor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAcquired)
                </td>
                <td>
                    @Ajax.ActionLink("info", "_Details", new { id = item.Id }, new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "post"
                   },  new { @class = "btn btn-outline-dark btn-sm material-icons", data_target = "#myInput" })
                </td>
            </tr>
        }

    </table>
</div>
@Scripts.Render("~/bundles/jquery")